:root {
    --cerulean: rgb(17,169,203);
    --link-water: rgb(201,230,240);
    --reef: rgb(202,255,187);
    --stark-white: rgb(235,219,201);
    --st-padding: 10px;
    --st-margin: 15px;
}

html, h1, h2, h3, body {
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}

body {
    background-color: var(--link-water);
    padding-top: calc(var(--st-padding) + 2px);
}

header {
    background-color: var(--cerulean);
    padding: var(--st-padding);
    padding-right: calc(var(--st-padding) + var(--st-padding));
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
}

#list_box_container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list_box {
    background-color: var(--stark-white);
    margin:var(--st-margin);
    padding: var(--st-padding);
    padding-right:40px;
    padding-bottom: 20px;
    position:relative;
    min-width:200px;
    border-radius: 20px;
}

h3 {
    background-color: rgb(224, 201, 174);
    padding:3px 10px 3px 10px;
    border-radius: 15px 5px 5px 5px;
}

ol {
    margin: 0;
    overflow-x:scroll;
}

.delete_button {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 654px) {
    /* Apply centering only when the second item wraps beneath */
    header {
        justify-content: center;
    }
    h1 {
        /* margin: var(--st-margin); */
        text-align: center;
    }
}

